<form name="postCreate">
  <div>
    <label>Title:</label>
    <br>
    <input type="text" required ng-model="$ctrl.post.text">
  </div>
  <div>
    <label>Body:</label>
    <br>
    <textarea rows="2" cols="50" required ng-model="$ctrl.post.body"></textarea>
  </div>
  <div>
    <label>UserId:</label>
    <select ng-model="$ctrl.post.userId" required>
      <option ng-repeat="option in $ctrl.options" ng-value="option">{{option}}</option>
    </select>
  </div>
  <button type="submit" ng-click="$ctrl.submit($ctrl.post)" ng-disabled="postCreate.$invalid">Submit</button>
</form>