<div>
  <header>
    <h1>Trabajo AngularJS</h1>
  </header>
 
  <hr>
  <div ng-view autoscroll></div>
</div>
<div class="container-fluid bg-dark fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark container">
    <a class="navbar-brand" href="index.html">Practica Final AngularJS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/books">Libros</a>
        <a class="nav-item nav-link" href="/authors">Autores</a>
        <a class="nav-item nav-link" href="/users">Users</a>
        
        
      </div>
    </div>
  </nav>
</div>
