<hr>
<div class="alert alert-dark" role="alert">
	<strong>TÍTULO: {{$ctrl.book.Title}}</strong> 
</div>

<div class="alert alert-light" role="alert">
	<p><span class="badge badge-secondary">Descripcion:</span> {{$ctrl.book.Description}}</p>
</div>
<div class="alert alert-light" role="alert">
	<p><span class="badge badge-secondary">Numero de Páginas:</span> {{$ctrl.book.PageCount}}</p>
</div>
<div class="alert alert-light" role="alert">
	<p><span class="badge badge-secondary">Resumen:</span> {{$ctrl.book.Excerpt}}</p>
</div>
<div class="alert alert-light" role="alert">
	<p><span class="badge badge-secondary">Fecha de publicación:</span> {{$ctrl.book.PublishDate}}</p>
</div>