<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h1 class="display-4">Autores</h1>
        </div>
            <p class="lead">Práctica Final Angular JS.</p>
            <filter filter="$ctrl.fields" options="$ctrl.options" on-order-by="$ctrl.onOrderBy(order)" on-filter="$ctrl.onFilter(filter)"></filter>
            <author-list authors="$ctrl.authors" filter="$ctrl.filter" order-by="$ctrl.orderBy"></author-list>
     </div>
</div>